html{
    background-image: url('../image/background_2.1.jpg');   /*设置背景图像 */
    background-attachment: fixed;   /*背景图像固定 */
    background-size: cover;   /*背景大小覆盖*/
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0
}

.header{   /*头部区域*/
    height: 45px;
    width: 1560px;
    margin: 0;
    padding: 50px 60px 0
}

.main{   /*主要页面*/
    float: left;
    margin: 0 360px 0;
    padding: 0;
    height: 630px;
    width: 960px;
    border-radius: 25px;
    background-color:rgba(255,255,255,0.2);
	-webkit-box-shadow:
		rgba(26,26,67,0.05) 1px 1px 5px 0px,
		rgba(50,50,93,0.5) 39px 62.5px 125px -25px,
		rgba(0,0,0,0.3) 23.4px 37.5px 75px -37.5px;
	-moz-box-shadow:
		rgba(26,26,67,0.05) 1px 1px 5px 0px,
		rgba(50, 50, 93, 0.5) 39px 62.5px 125px -25px,
		rgba(0,0,0,0.3) 23.4px 37.5px 75px -37.5px;
	box-shadow:
		rgba(26,26,67,0.05) 1px 1px 5px 0px,
		rgba(50,50,93,0.5) 39px 62.5px 125px -25px,
		rgba(0,0,0,0.3) 23.4px 37.5px 75px -37.5px;
}

.photo{   /*照片*/
  height: 194px;
  width: 194px;
  padding: 60px 383px 30px;
}

.home{   /*Home页文本*/
  margin: 0;
  padding: 0 50px;
}

.intro-name{   /*姓名居中*/
  margin: 0;
  height: 49px;
  text-align: center
}

.intro-title{   /*title居中*/
  margin: 0;
  height: 40px;
  text-align: center
}

.menu{   /*底侧菜单*/
    float: left;
    margin: 0 360px 0;
    padding: 0 s;
    height: 143px;
    width: 960px;
}

#wrapper {   /*控制内容位置*/
    text-align:center;
    font-family: 'Lato', sans-serif;
    text-transform:uppercase;
  }
  #toolbar {   /*菜单范围*/
    width:100%;
    max-width:670px;
    min-width:550px;
    margin: 30px auto;
  }
  .button {   /*加号展开按钮设置*/
    width:70px;
    height:70px;
    border-radius:50%;
    background-color:#FFE154;
    color:#ffffff;
    text-align:center;
    font-size:3.5em;
    position:relative;
    left:50%;
    margin-left:-35px;
    z-index:1;
  }
  .button,.icons{   /*旋转并展开过程，贝塞尔曲线控制速度变化*/
    -webkit-transition: -webkit-all 1s cubic-bezier(.87,-.41,.19,1.44);
            transition:  all 1s cubic-bezier(.87,-.41,.19,1.44);
  }
  .button:after {   /*加号*/
    content:"+";
  }
  .button.active {   /*展开加号并旋转*/
  -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
    left:60px;
  }
  .icons {   /*被隐藏在加号后的菜单*/
    width:0%;
    overflow:hidden;
    height:36px;
    list-style:none;
    padding:16px 10px 10px 50px;
    background-color:rgba(255,255,255,0.2);;
    box-shadow: 1px 1px 1px 1px #DCDCDC;
    margin:-68px 0 0 45%;
    border-radius: 2em;
  }
   
  .icons.open {   /*展开后*/
    width:80%;
    margin:-68px 0 0 5%;
    overflow:hidden;   /*隐藏溢出*/
  }
   
  .icons li {
    display: none;
    width:10%;
    color:#FFE154;
  } 
   
  .icons.open li {
    width:16%;
    display: inline-block;
  }          

a:-webkit-any-link{
  color:#FFE154;
  text-decoration: none;
}

  .item{
    display: none;
    animation: scaleDown 1s ease both;
    -webkit-animation: scaleDown 1s ease both;
  }

  @keyframes scaleDown{
    from {opacity:0; transform: (.8);}
  }
  
  .show{
    display: block;
  }

  #map {
    height: 300px;
    width: 400px;
    margin:5px 280px;
    padding: 0
   }